.formulario-aluno {
  margin-bottom: var(--sp-4);
  text-align: left;
}

.formulario-aluno h3 {
  margin-bottom: var(--sp-4);
}

.formulario-aluno__grade {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0 var(--sp-4);
}

.formulario-aluno__acoes {
  display: flex;
  justify-content: flex-end;
  gap: var(--sp-2);
}
